body{
	background-color:gold;
	background-image:url(../img/SUN2.jpg);
	background-size:cover;
}
.forgotpw{
	width:100%;
	height:300px;
	background-color:rgb(209,83,37);
	margin-top:75%;
	
}
.rigtsection{
	width:300px;
	height:300px;
	background-color:rgb(182,143,58);
	display:inline-block;
	float:left;
}
img{
	width:80px;
	height:80px;
	margin:50px auto;
	padding:0;
	display:block;
	overflow: hidden;
}
h2{
	 margin-left: 30px;
    font-size: 14px;
}
p{
	font-size:10px;
	font-family:Use the following CSS rules to specify these families;
	color: red;
	text-align: center;
}
.leftsection{
	width:800px;
	height:300px;
	float:left;
}
.leftsection h4{
	text-align:center;
	font-size:20px;
	color:white;

}
.form-control{
	width:70%;
	padding:10px 15px;
	margin-bottom:12px;
	margin-left:100px;

}
.btn{
	background-color: gold;
    padding: 10px 8px;
    margin: 0px auto;
    display: block;
    color: red;
}
.backlogin{
	background-color: rgb(182, 143, 58);
    padding: 10px 8px;
    margin: 5px auto;
    display: block;
    color: black;
    width:150px;
    text-align:center;
    text-decoration:none;
}